.App {
  text-align: center;
  padding: 10px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: rgba(0,0,0,.87);
}

.form-label {
  display: block;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.form-field {
  display: flex;
  margin: 15px 0;
}

.form-field input {
  flex-grow: 1;
  
  padding: .67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  
  border-radius: .28571429rem;
}

.number-input {
  text-align: right;
}

.form-field span {
  margin-left: 10px;
  padding: .67857143em 0;
}

button {
  background-color: #2185d0;
  color: #fff;
  outline: 0;
  border: none;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  font-weight: 700;
  border-radius: .28571429rem;
  cursor: pointer;
}

button:hover {
  background-color: #1678c2;
}

button:active {
  background-color: #1a69a4;
}